@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Outfit', sans-serif;
  }
}

html { scroll-behavior: smooth; }
.lang-hidden { display: none; }
.curriculum-content, .faq-answer {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
.curriculum-content.active, .faq-answer.active { 
  max-height: 500px;
  opacity: 1;
}
